@tailwind base;
@tailwind components;
@tailwind utilities;


.blurred-circles {
    background-color: rgba(255, 255, 255, 0.4);
    background-image: url("path/to/your/blurred-circles-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .login-container {
    background-image: url('./assets/enter.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }